<div class='container'>
  <div class='row'>
    <div class="mx-auto">
      <%= render "public/shared/error_messages", resource: @post_image %>
  		<h1>新規投稿</h1>
  		<%= render 'form', post_image: @post_image %>
    </div>
  </div>
</div>