<div class='container'>
  <div class='row'>
    <div class="mx-auto">
      <%= render "public/shared/error_messages", resource: @post_image %>
  		<h1>新規投稿</h1>
  		<%= render 'form', post_image: @post_image %>
  		<%= link_to 'Show', @post_image, class: "post_image_#{@post_image.id}" %> |
  		<%= link_to 'Back', post_images_path, class: "back" %>
  </div>
</div>