<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-3">About</h1>
    <p>
      ながのCAKEは全国配送可能なケーキ屋さんです。<br />
      お子様からお年寄りの方までお召し上がりいただけるよう、<br />
      様々なバリエーションをご用意しております。<br />
      また、全国配送可能ですので<strong>「いつ」</strong>でも<strong>「どこ」</strong>でもご注文いただけます。<br />
      ぜひご注文ください。
    </p>
  </div>
</div>