<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-3">About</h1>
    <p>
      シェアさんぽは散歩中に見つけたお気に入りの場所を<br />
      写真や文章で表現し、共有できるサイトです。<br />
      あなたのお気に入りの場所を誰かに伝えてみませんか？
    </p>
  </div>
</div>