<div class="container">
  <div class="row">
    <div class='mx-auto col'>
      <div class="text-center">
        <h1>いつもの散歩が、もっと楽しくなる</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
</div>