<div class="container">
  <div class="row">
    <div class='mx-auto col'>
      <div class="text-center my-5">
        <h1>いつもの散歩が、もっと楽しくなる</h1>
      </div>
      <div class="btn-wrapper col-6 mx-auto">
        <div class="row mb-4">
          <p></p>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-sm btn-block sign_in" %>
        </div>
        <div class="row mb-2">
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_in", method: :get %>
          <p>会員登録をしなくても閲覧できますが投稿をする場合は会員登録が必要です</p>
        </div>
        <div class="row">
          <%= link_to 'ゲストログイン（お試し用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block sign_in", method: :post %>
          <p>※ゲストユーザーの方の投稿はログアウトすると削除されてしまいます</p>
        </div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post_images.each do |post_image| %>
            <div class="swiper-slide">
              <%= image_tag post_image.get_image(500,500) %>
            </div>
          <% end %>
        </div>
      </div>
      <script>
        var mySwiper = new Swiper('.swiper', {
          // Optional parameters
          loop: true,
        });
      </script>
    </div>
  </div>
</div>
