<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>投稿一覧</h2>
      <% @post_images.each do |post_image| %>
      <div>
        <%= link_to admin_post_image_path(post_image.id) do %>
          <%= image_tag post_image.get_image(500,500) %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
